body {
  background-color: #fcfffd;
}
#main {
  margin-bottom: 100px;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
/***** Navbar  ******/
.navbar {
  background-color: #3aaed8 !important;
}
.navbar a.nav-link {
  color: #fcfffd;
}
.navbar li.active {
  background-color: #fcfffd !important;
}
.navbar li.active a.nav-link {
  color: #5d737e !important;
}
.custom-toggler.navbar-toggler {
  border-color: #fcfffd;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,255,253, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/***** Footer *****/
footer {
  background-color: #3aaed8;
  color: #fcfffd;
  position: relative;
}
footer .row > div {
  margin: 30px 0;
}
footer h4 {
  text-align: center;
}
footer h4 a:hover {
  color: #5d737e;
  text-decoration: none;
}
footer a {
  color: #fcfffd;
}
footer a :hover {
  color: #5d737e;
}
#social_btn {
  display: flex;
  justify-content: center;
}
#social_btn a {
  display: block;
  margin: 0.5em;
}
#copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/***** Home page *****/
h1 {
  text-align: center;
}
#home {
  position: relative;
}
#home_title {
  position: absolute;
  top: 15px;
  right: 30px;
}
#home_image {
  width: 100%;
  filter: opacity(70%);
}
#presentation {
  color: #5d737e;
  background: url("../images/polaroid.png");
  padding: 40px 40px 100px;
  border: 10px solid #5d737e;
}
#presentation p {
  text-align: center;
  font-size: 2em;
}
/***** List posts *****/
#list_posts h1 {
  background-color: #fcfffd;
}
